body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
   }
   
   .loading_cont {
    width: 100%;
    height: 100%;
    background: red;
    background: -webkit-linear-gradient(left top, #152a8e, #b1376c);
    background: -o-linear-gradient(bottom right, #152a8e, #b1376c);
    background: -moz-linear-gradient(bottom right, #152a8e, #b1376c);
    background: linear-gradient(to bottom right, #152a8e, #b1376c);
   }
   
   .loading_cont:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: url(https://next.atcom.gr/StaticData/Landing2017/Content/Media/dots-transparent.png) repeat scroll center center;
    opacity: 0.05;
    z-index: 0;
   }
   
   #loader {
       display: inline-block;
       position: relative;
       width: 800px;
       height: 800px;
       top: 50%;
       left: 50%;
       margin-left: -400px;
       margin-top: -400px;
   }
   
   rect {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
   }
   
   .blobs {
    -webkit-filter: url("#goo");
    filter: url("#goo");
   }
   
   .blob {
       fill: white;
   }
   